.calcContainer {
  margin: 4% 37%;
}

.calcContent {
  height: 80vh;
}

.calcResult {
  background-color: whitesmoke;
  height: 24%;
  padding: 15px;
  padding-right: 25px;
}

.calculation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
  font-size: 20px;
  color: rgb(169, 169, 169);
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
  font-size: 30px;
  font-weight: 500;
}